<form id="search-form">
    <const class="container-group-row">
       <!-- <label for="search">Filter results:</label>
        <select name="search" id="search-type">
            <option value="artist">Artist</option>
            <option value="album">Album</option>
            <option value="song">Song</option>
        </select> -->
        <select name="genre" id="search-genre">
            <option value="all">All</option>
            <option value="rap">Rap</option> 
            <option value="edm">EDM</option>
            <option value="rock">Rock</option>
        </select>
        <button>Search</button>
    </const>
</form>

<button id="to-cart">cart</button>

<div class="search-results container-group-row">
    <div>
        <h4>Recovery by Eminem</h4>
        <ul>
        {{#each eminem as |song|}}
            <li>{{name}} <button data-song='{{name}}' class="add-song">+</button></li>
        {{/each}}
        </ul>
    </div>
    <div>
        <h4>ASCEND by Illenium</h4>
        <ul>
        {{#each illenium as |song|}}
            <li>{{name}} <button data-song='{{name}}' class="add-song">+</button></li>
        {{/each}}
        </ul>
    </div>
    <div>
        <h4>Led Zeppelin IV by Led Zeppelin</h4>
        <ul>
        {{#each ledZep as |song|}}
            <li>{{name}} <button data-song='{{name}}' class="add-song">+</button></li>
        {{/each}}
        </ul>
    </div>
</div>

<script src="/js/discover.js"></script>
