<div style="margin-top: 20px;">
<form id="search-form">
    <div class="container-group-row">
        <select name="genre" id="search-genre">
            <option value="all">All</option>
            <option value="rap">Rap</option> 
            <option value="edm">EDM</option>
            <option value="rock">Rock</option>
        </select>
        <button>Search</button>
    </div>
</form>

<div id="search-results" class="container-group-row" style="gap: 10px; margin-top: 40px;">
    <div class="card">
        <h4>Recovery by Eminem</h4>
        <ul>
        {{#each eminem as |song|}}  
            <li>{{name}} <button data-song='{{name}}' class="add-song">+</button></li>
        {{/each}}
        </ul>
    </div>
    <div class="card">
        <h4>ASCEND by Illenium</h4>
        <ul>
        {{#each illenium as |song|}}
            <li>{{name}} <button data-song='{{name}}' class="add-song">+</button></li>
        {{/each}}
        </ul>
    </div>
    <div class="card">
        <h4>Led Zeppelin IV by Led Zeppelin</h4>
        <ul>
        {{#each ledZep as |song|}}
            <li>{{name}} <button data-song='{{name}}' class="add-song">+</button></li>
        {{/each}}
        </ul>
    </div>
</div>

<p id="message"></p>
</div>
<script src="/js/discover.js"></script>
